%nav.navbar.navbar-light.navbar-expand-md.bg-light
  .container
    %button.navbar-toggler{"data-target" => "#navcol-1", "data-toggle" => "collapse"}
      %span.sr-only Toggle navigation
      %span.navbar-toggler-icon
    #navcol-1.collapse.navbar-collapse
      %ul.nav.navbar-nav.flex-grow-1.justify-content-between
        %li.nav-item{role: "presentation"}
          %a.nav-link{href: "#"}
            %i.fa.fa-users>
               Buyers
        %li.nav-item{role: "presentation"}
          %a.nav-link{href: "#"}
            %i.fa.fa-money>
               Purchases
        %li.nav-item{role: "presentation"}
          %a.nav-link{href: "#"}
            %i.fa.fa-shopping-bag>
               Store